Repository voxpupuli/puppet-ferm, pull requests merged in 2018-07, with the labels that each got.

#17 Add official ubuntu support
  manifests/service.pp
  metadata.json
  spec/classes/ferm_spec.rb
Labels: enhancement

#18 modulesync 1.9.3
  .msync.yml
  Gemfile
Labels: modulesync

#20 Add `proto_options` to enable usage of icmp types
  README.md
  manifests/rule.pp
Labels: enhancement

#19 release 1.3.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#21 modulesync 1.9.3
  .msync.yml
Labels: modulesync

#22 modulesync 1.9.4
  .msync.yml
  .travis.yml
Labels: modulesync
