Repository voxpupuli/puppet-ferm, pull requests merged in 2018-03, with the labels that each got.

#10 introduce parameter disable_conntrack
  data/common.yaml
  manifests/chain.pp
  manifests/config.pp
  manifests/init.pp
  spec/defines/chain_spec.rb
  templates/ferm_chain_header.conf.epp
Labels: enhancement

#11 Release 1.2.0
  CHANGELOG.md
  docs/file.README.html
  docs/index.html
  docs/puppet_classes/ferm.html
  docs/puppet_classes/ferm_3A_3Aconfig.html
  docs/puppet_defined_types/ferm_3A_3Achain.html
  metadata.json
Labels: skip-changelog

#12 modulesync 1.9.0
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .msync.yml
  .travis.yml
  spec/acceptance/nodesets/docker/ubuntu-16.04.yml
Labels: modulesync
