Repository voxpupuli/puppet-ferm, pull requests merged in 2019-09, with the labels that each got.

#54 Add Debian 10 support & make configdirectory configureable
  REFERENCE.md
  data/Debian-10.yaml
  data/common.yaml
  manifests/chain.pp
  manifests/config.pp
  manifests/init.pp
  manifests/rule.pp
  metadata.json
  spec/classes/ferm_spec.rb
  spec/defines/chain_spec.rb
  spec/defines/rule_spec.rb
  templates/ferm.conf.epp
  templates/ferm_header.conf.epp
  types/chains.pp
Labels: enhancement

#55 allow preserving of chains in tables
  REFERENCE.md
  data/common.yaml
  manifests/config.pp
  manifests/init.pp
  spec/classes/ferm_spec.rb
  templates/ferm.conf.epp
Labels: enhancement

#56 release 2.4.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#62 drop Debian from supported OSes
  metadata.json
Labels: backwards-incompatible

#65 add missing status option for CentOS 6 init script
  files/ferm
Labels: bug

#58 add ability to configure rules in tables other than the default "filter" table
  REFERENCE.md
  manifests/chain.pp
  manifests/config.pp
  manifests/init.pp
  manifests/rule.pp
  spec/acceptance/ferm_spec.rb
  spec/classes/ferm_spec.rb
  spec/defines/chain_spec.rb
  spec/defines/rule_spec.rb
  spec/spec_helper.rb
  templates/ferm-table-chain-config-include.epp
  templates/ferm.conf.epp
  templates/ferm_chain_header.conf.epp
  templates/ferm_header.conf.epp
  types/actions.pp
  types/policies.pp
  types/tables.pp
Labels: enhancement

#72 fix kernel incompatibilities
  REFERENCE.md
  manifests/chain.pp
  manifests/config.pp
  spec/classes/ferm_spec.rb
Labels: bug

#73 Add more examples
  README.md
Labels: enhancement

#70 release 2.5.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
