Repository voxpupuli/puppet-ferm, pull requests merged in 2019-03, with the labels that each got.

#38 modulesync 2.5.1
  .github/CONTRIBUTING.md
  .travis.yml
  Dockerfile
  Gemfile
  Rakefile
Labels: modulesync

#39 enhance type validation; require stdlib 4.25.0
  REFERENCE.md
  manifests/rule.pp
  metadata.json
Labels: enhancement

#40 add 'all' to protocols
  types/protocols.pp
Labels: enhancement

#41 modulesync 2.6.0
  .msync.yml
Labels: modulesync

#42 release 2.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
