Repository voxpupuli/puppet-ferm, pull requests merged in 2019-04, with the labels that each got.

#43 Add RedHat init script
  README.md
  data/common.yaml
  files/ferm
  manifests/init.pp
  manifests/install.pp
  spec/classes/ferm_spec.rb
Labels: enhancement

#44 Release 2.2.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#45 modulesync 2.7.0
  .msync.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync
