Repository voxpupuli/puppet-ferm, pull requests merged in 2020-05, with the labels that each got.

#107 Ubuntu/Debian: Notify service on config changes
  manifests/service.pp
Labels: bug

#108 release 3.0.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#105 Allow adding custom ferm dsl for subchains. This is important for usi…
  REFERENCE.md
  manifests/chain.pp
  spec/acceptance/ferm_spec.rb
  spec/defines/chain_spec.rb
  templates/ferm_chain_custom.conf.epp
Labels: enhancement

#104 add install_method parameter
  README.md
  REFERENCE.md
  manifests/config.pp
  manifests/init.pp
  manifests/install.pp
  manifests/service.pp
  metadata.json
  spec/acceptance/ferm_spec.rb
  templates/dropin_ferm.conf.epp
Labels: enhancement

#109 Add Ubuntu 20.04 support
  .sync.yml
  .travis.yml
  Gemfile
  metadata.json
Labels: enhancement
