Repository voxpupuli/puppet-ferm, pull requests merged in 2020-04, with the labels that each got.

#95 Add VZ 6/7 to metadata.json
  metadata.json
Labels: enhancement

#99 cleanup puppet-strings documentation
  REFERENCE.md
  manifests/chain.pp
  manifests/config.pp
  manifests/init.pp
  manifests/install.pp
  manifests/ipset.pp
  manifests/service.pp
Labels: docs

#90 use dedicated conntrack parameters / by default disable conntrack for new chains / by default enable conntrack for filter INPUT chain
  REFERENCE.md
  manifests/chain.pp
  manifests/config.pp
  manifests/init.pp
  spec/acceptance/ferm_spec.rb
Labels: backwards-incompatible

#100 make dropping of invalid pakets optional
  REFERENCE.md
  manifests/chain.pp
  manifests/config.pp
  manifests/init.pp
  spec/acceptance/ferm_spec.rb
  templates/ferm_chain_header.conf.epp
Labels: enhancement

#101 by default dont log dropped packets
  REFERENCE.md
  manifests/chain.pp
Labels: backwards-incompatible

#102 release 3.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
