Repository voxpupuli/puppet-ferm, pull requests merged in 2021-06, with the labels that each got.

#128 modulesync 4.1.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  Dockerfile
  Gemfile
  spec/type_aliases/actions_spec.rb
  spec/type_aliases/policies_spec.rb
  spec/type_aliases/port_spec.rb
  spec/type_aliases/protocols_spec.rb
  spec/type_aliases/tables_spec.rb
Labels: modulesync

#127 Add support for opensuse
  data/Suse.yaml
  metadata.json
  spec/classes/ferm_spec.rb
Labels: enhancement

#132 Enable users to the package ensure
  REFERENCE.md
  manifests/init.pp
  manifests/install.pp
  spec/classes/ferm_spec.rb
Labels: enhancement

#133 release 6.0.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
