Repository voxpupuli/puppet-ferm, pull requests merged in 2022-05, with the labels that each got.

#149 Drop Arch Linux support
  metadata.json
Labels: backwards-incompatible

#151 Exec: Adjust PATH during ferm installation
  manifests/install.pp
Labels: bug

#150 Packages: Install packages before ferm install
  manifests/install.pp
  spec/classes/ferm_spec.rb
Labels: bug

#146 Add parameter `manage_package` to enable managing ferm package outside of this module
  manifests/init.pp
  manifests/install.pp
  spec/classes/ferm_spec.rb
Labels: enhancement

#152 modulesync 5.2.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  Dockerfile
  Gemfile
Labels: modulesync

#154 ferm vcs install: Update 2.5.1->2.6
  manifests/init.pp
Labels: backwards-incompatible

#155 Release 8.0.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
