Repository voxpupuli/puppet-ferm, pull requests merged in 2023-01, with the labels that each got.

#156 Enable negation of 'saddr', 'daddr', 'sport', and 'dport'
  manifests/rule.pp
  spec/defines/rule_spec.rb
  types/negation.pp
Labels: enhancement

#157 modulesync 5.4.0
  .fixtures.yml
  .msync.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#158 release 8.1.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
